img {
    max-width:100%;
    height:auto;
    display: block;
}
h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 29px;
    font-weight: bold;
    color: #2a110a;
    text-align: center;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 23px;
}
ul, .button {
    font-family: 'Roboto Slab', serif;
}

p, li { 
    font-family: 'Open Sans', sans-serif; 
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: cadetblue;
    
}